{% extends 'administrador/BASE.html'%}

{% block titulo%}
      administrador
{% endblock titulo administrador%}     

{% block contenido%}
        <div class=" row d-flex justify-context-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-tittle">
                            <h2 class="text-center"> Agregar nuevo usuario</h2>
                        </div>
                        <form action="">
                           {{ for imput  in for %}}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="administradorform">
                                        <label form=""> nombre</label>
                                        <textarea name=""  id=""  cols="20" rows="1" class="administradorform"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                 <div class="col-md-12">
                                    <div class="administradorform">
                                        <label form=""> apellido</label>
                                        <textarea name=""  id=""  cols="20" rows="1" class="administradorform"></textarea>
                                    </div>
                                </div>
                             </div>


                            <div class="row">
                                <div class="col-md-12">
                                     <div class="administradorform">
                                         <label form=""> run</label>
                                        <textarea name=""  id=""  cols="20" rows="1" class="administradorform"></textarea>
                                    </div>
                                 </div>
                             </div>
                                 
                             <div class="row">
                                <div class="col-md-12">
                                     <div class="administradorform">
                                            <label form=""> genero </label>
                                            <textarea name=""  id=""  cols="20" rows="1" class="administradorform"></textarea>
                                     </div>
                                 </div>
                            </div>    

                             <div class="row">
                                <div class="col-md-12">
                                     <div class="administradorform">
                                            <label form=""> contraseña</label>
                                            <textarea name=""  id=""  cols="20" rows="1" class="administradorform"></textarea>
                                     </div>
                                </div>
                             </div> 

                             <div class="row">
                                 <div class="col-md-12">
                                     <div class="administradorform">
                                            <label form=""> correo</label>
                                            <textarea name=""  id=""  cols="20" rows="1" class="administradorform"></textarea>
                                     </div>
                                </div>
                             </div> 

                             <div class="row">
                                <div class="col-md-12">
                                    <div class="administradorform">
                                            <label form=""> direccion</label>
                                            <textarea name=""  id=""  cols="20" rows="1" class="administradorform"></textarea>
                                    </div>
                                </div>
                             </div> 

                             <div class="row">
                                <div class="col-md-12">
                                    <div class="administradorform">
                                            <label form=""> telefono</label>
                                            <textarea name=""  id=""  cols="20" rows="1" class="administradorform"></textarea>
                                    </div>
                                 </div>
                            </div> 

                            <div class="row">
                                <div class="col-md-12">
                                        <div class="administradorform">
                                               <label form=""> comuna</label>
                                               <textarea name=""  id=""  cols="20" rows="1" class="administradorform"></textarea>
                                        </div>
                                 </div>
                             </div> 

                            <div class="row">
                                <div class="col-md-12">
                                     <div class="administradorform">
                                            <label form=""> cuidad </label>
                                            <textarea name=""  id=""  cols="20" rows="1" class="administradorform"></textarea>
                                    </div>
                                </div>
                            </div> 
                 


            
    
    
    


    

                            <button type="submit" class="btn btn-block btn-info">Agregar</button>
                        </form>




                    </div>
                </div>
            </div>
        </div>