

{%block content %}
<form method="post">
   {% csrf_token %}
g

   <div class="row">
       <div class="col-md-8 col-md-offset-2">
           <div class="form-group">
               <label>Nombre</label>
               <imput class="form-control" type="text" name="first_name">
           </div>
       </div>
   </div>


   <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Apellido</label>
                <imput class="form-control" type="text" name="last_name">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Run</label>
                <imput class="form-control" type="  " name="Run">
            </div>
        </div>
    </div>

    <div class="row">
         <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Genero</label>
                <imput class="form-control" type="" name="Genero">
            </div>
        </div>
    </div>


   <div class="row">
         <div class="col-md-8 col-md-offset-2">
             <div class="form-group">
                <label>Direccion</label>
                <imput class="form-control" type="text" name="Direccion">
            </div>
        </div>
   </div>


    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                 <label>Telefono</label>
                <imput class="form-control" type=" " name="Telefono">
             </div>
        </div>
    </div>    


    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                 <label>Comuna</label>
                 <imput class="form-control" type="text" name="Comuna">
             </div>
        </div>
    </div>


    <div class="row">
         <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                 <label>Cuidad</label>
                <imput class="form-control" type="text" name="City">
            </div>
         </div>
     </div>

    <div class="row">
        <div class="col-md-8  col-md-offset-2">
             <div class="form-group">
                <label>Correo</label>
                <imput class="form-control"  type="text"  name="email">    
             </div>
        </div>
    </div>



    


    <div class="row">
         <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                 <label>Contraseña</label>
                <imput class="form-control" type="text" name="password1">
             </div>
         </div>
    </div>
       
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                 <label>Confirmar Contraseña</label>
                <imput class="form-control" type="password" name="password2">
             </div>
         </div>
    </div>

    <div class="row">
        <div class=" col-md-8  col-md-offset-2">
            <div class="form-group">
                <button class="btn btn-primary" type= "submit"> Guardar </button>
            </div>
        </div>
    </div>


    
    





    